@font-face {
    font-family: "norse";
    src: url(./fonts/Norsebold.otf) format("opentype");
    font-display: swap;
}

* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    height: 100%;
    background-color: whitesmoke;
}

.container{
   display: flex;
   min-height: 100vh;
}

.image{
    width: 40%;
    height: 100%;
    position: relative;
}

/*section image background*/
.image img {
    position: absolute;
    inset: 0;
    object-fit: cover;
}


.register{
    width: 60%;
    padding-right: 600px;
    display: flex;
    flex-direction: column;
}

.register .first-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    font-size: 20px;
    font-weight: bold;
}

.register .second-container{
    background-color: white;
    
}


span{
    font-style: italic;
}




